.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px 80px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #fff;
  color: #000;
  z-index: 100;
}

.modal__message h3 {
  font-size: 0.9rem;
  text-align: center;
}

.modal__message p {
  margin-top: 1rem;
  font-size: 0.7rem;
  font-weight: 600;
}

.modal-message__button {
  text-align: center;
}

.modal-message__button > button {
  margin-top: 1rem;
  padding: 8px 16px;
  background: #000;
  border: 1px solid #000;
  color: #fff;
  font-size: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1115px) {
  .modal {
    width: 350px;
    padding: 30px;
  }
}

@media (max-width: 1024px) {
  .modal {
    width: 280px;
  }
}

@media (max-width: 950px) {
  .modal {
    width: 280px;
  }
}

@media (max-width: 630px) {
  .modal {
    width: 200px;
    padding: 15px 25px;
  }

  .modal__message {
    width: 150px;
  }
}
